.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1140px) {
    .container {
        max-width: 960px;
    }

    .promo_img {
        width: 475px;
    }

    .categories_list {
        gap: 45px 80px;
    }

    .vacancies_item_wrapper-category {
        gap: 70px;
    }

}

@media (max-width: 960px) {
    .container {
        max-width: 720px;
    }

    .promo_content {
        width: 350px;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .promo_descr {
        font-size: 16px;
    }

    .promo_form span {
        display: none;
    }

    .promo_form>button {
        position: relative;
    }

    .promo_form>button img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-right: 0;
    }

    .promo_img {
        width: 350px;
    }

    .promo_example h3 {
        font-size: 12px;
    }

    .vacancies_item {
        flex-direction: column;
        max-width: 290px;
        padding: 30px;
    }

    .vacation_item_wrapper-logo {
        flex-direction: column;
    }

    .vacancies_item_wrapper-category {
        flex-direction: column;
    }

    .vacancies_item_requirements {
        flex-direction: column;
    }

    .vacancies_list {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (max-width: 720px) {
    .container {
        max-width: 540px;
    }

    .promo_header_menu {
        display: none;
    }

    .promo_header_box {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger span {
        display: block;
        width: 24px;
        margin-bottom: 5px;
        border: 2px solid #111238;
        border-radius: 10px;
        transition: 0.5s linear;

    }

    .hamburger:hover span:nth-child(1) {
        transform: translateY(5px) rotate(-45deg);
    }

    .hamburger:hover span:nth-child(2) {
        display: none;
    }

    .hamburger:hover span:nth-child(3) {
        transform: translateY(-3px) rotate(45deg);
    }

    .promo_wrapper {
        margin-top: 45px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }


    h1 {
        text-align: center;
        margin: 0;
    }

    .promo_form {
        margin-top: 45px;
    }

    .promo_example {
        flex-direction: column;
        gap: 0;
    }

    .promo_img {
        width: 450px;
    }
}

@media (max-width:576px) {
    .container {
        max-width: none;
    }

    .promo_header {
        justify-content: space-around;
        gap: 120px;
    }

    .promo_descr {
        text-align: center;
    }

    .promo_form {
        width: 290px;
        height: 70px;
        margin: 45px auto 0;
    }

    .promo_img {
        width: 290px;
    }

    h2 {
        text-align: center;
    }
}