@import './promo.css';
@import './categories.css';
@import './vacancies.css';
@import './media.css';

* {
    font-family: 'Fira Sans',
        sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}